@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i&display=swap');

:root{
    --dark-color: #12113A;
    --text-light-color: #ADA9BB;
    --text-color:#fff;
    --green-color: #00C89B;
    --blue-color: #2194D1;
    --header-background: rgb(11, 10, 32);
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(min-width: 501px){
    .title{
        font-size: 2.2rem;
    }

    .description{
        font-size: 1.2rem;
    }

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color, #12113A);
    color: var(--text-light-color, #ADA9BB);
    font-size: 10px;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
/*
    Header CSS
*/

.image-background{
    background: url("../img/developer.jpg") no-repeat fixed center/cover;
    min-height: 100vh;
}

.header .container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#navbar{
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header .logo-top{
    height: 50px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    padding: 10px;
}

.menu ul li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(0,0,0,0);
}

.menu ul li a:hover{
    border-bottom-color: var(--green-color);
    color: var(--green-color);
}

/*Welcome area*/
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}

.title{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

.description{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
}

.code-bottom{
    align-self: flex-end;
}

/*About area*/
.about-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.profile-img{
    max-width:200px;
    max-height: 200px;
    border-radius: 50%;
    border: 7px solid var(--green-color);
    margin-bottom: 1rem;
}

.title-section{
    font-size: 2rem;
    font-weight: bold;
}

.p-text{
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 1rem;
    padding: 10px 20px;
}

.smile{
    color: var(--green-color);
    font-weight: bold;
    padding: 10px;
}

/*Projects area*/
#projects{
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "title title title title"
    "image1 image1 image2 image2"
    "image3 image3 image4 image4";
}

#projects .title-section{
    grid-area: title;
    text-align: center;
    color: var(--green-color);
    margin-bottom: 2rem;
}


.project-area1{
    grid-area: image1;
}

.project-area2{
    grid-area: image2;
}

.project-area3{
    grid-area: image3;
}

.project-area4{
    grid-area: image4;
}

.project-area{
    position: relative;
}

.project-area img{
    width: 100%;
    transition: 0.5s all ease-in-out;
    transform: scale(1);
    opacity: 1;
}

.project-description{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.8s all ease-in-out;
    transform: scale(0);
    opacity: 0;
}

.project-description p{
    text-align: center;
    padding: 1em;
}

.project-description a{
    font-size: 0.9rem;
    color: var(--green-color);
}
.project-area:hover img{
    transform: scale(0);
    opacity: 0;
}

.project-area:hover .project-description{
    transform: scale(1);
    opacity: 1;
}

.project-tile{
    font-size: 1.3rem;
    color: var(--green-color);
    padding: 0 1em;
}


/*Skills*/
.skill-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 80vh;
    align-content: center;
    justify-content: center;
}

.skill-section .title-section {
    color: var(--green-color);
    margin: 10px 0;
}

.type-skill{
    font-size: 1.4rem;
    margin: 10px 0;
}

.skill ul{
    list-style: none;
}

.skill li{
    font-size: 1rem;
    margin: 10px 0;
}

/*contact area*/
.blue-background{
    background-color: var(--blue-color);
}

.social-area{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-msg{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.icon{
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.7s all ease-in-out;
    font-weight: normal;
    margin: 0 20px;
}

.icon:hover{
    color: var(--dark-color);
}

/*Footer*/
.footer{
    background-color: var(--header-background);
    padding: 20px 10px;
}

.footer-text{
    text-align: center;
    font-size: 0.8rem;
}

/*media querys*/
@media(max-width:500px){
    .title{
        font-size: 2rem;
    }

    .description{
        font-size: 1rem;
    }

    .project-tile{
        font-size: 1.5em;
        text-align: center;
    }
    .p-text{
        font-size: 1.3em !important;
    }
}

@media(max-width: 800px){
    .skill-section{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #projects{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .profile-img{
        width: 35%;
        border: 5px solid var(--green-color);
    }

    .menu a{
        font-size: 1rem;
    }
    .title-section{
        font-size: 1.5rem;
    }
    .p-text{
        font-size: 1rem;
    }
    .social-msg{
        font-size: 1.3rem;
    }

    .icon{
        font-size: 1.3rem;
    }
}
